<% layout("/layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
          <h2> Listing Details </h2>  
        </div>
        <div class="col-6 offset-2">
        <div class="card card-listing-border">
            <img class="card-img-top show-img"   src="<%=details.image.url%>" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">
              <b><%=details.title%></b> <br>
               <% for(own of details.owner){ %>
             <b>owned by:</b><i><%=own.username %></i>
           <br><% }  %>
            <%=details.description%><br>
                &#8377; <%=details.price%>/night<br>
                <%=details.location%><br>
                <%=details.country%><br>
                <%=details.category%><br>
              </p>
            </div>
          </div>
  
  <% if(currUser === details.owner.username ) { %>
    <div class="edit-btn">
      <a href="https://airbnb-lite.onrender.com/listing/<%=details.id%>/edit" class="btn btn-dark">Edit</a>
  <form method="post" action="/listing/<%=details._id%>?_method=delete">
      <button class="btn btn-danger delete-btn-color">Delete</button>
    
  </form>  
  </div>
  <% } %> 
   
    <br>
    <br>
  
</div>
<hr>
<% if(currUser)  { %>
<div class="row">
<form method="post" action="/listing/<%=details.id%>/reviews" class="col-8  offset-2" >
  
    <H1>Leave a review</H1>
   <div class="form-group">
  
 
  <label for="rating"  class="form-label" >Rating</label>
  <fieldset class="starability-basic">
   
    <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
    <input type="radio" id="first-rate1" name="review[rating]" value="1" />
    <label for="first-rate1" title="Terrible">1 star</label>
    <input type="radio" id="first-rate2" name="review[rating]" value="2" />
    <label for="first-rate2" title="Not good">2 stars</label>
    <input type="radio" id="first-rate3" name="review[rating]" value="3" />
    <label for="first-rate3" title="Average">3 stars</label>
    <input type="radio" id="first-rate4" name="review[rating]" value="4" />
    <label for="first-rate4" title="Very good">4 stars</label>
    <input type="radio" id="first-rate5" name="review[rating]" value="5" />
    <label for="first-rate5" title="Amazing">5 stars</label>
  </fieldset>
  <label for="comment"  class="form-label" >Comment</label>
<textarea class="form-control" required  rows="4" cols="20" name="review[comment]" ></textarea><br>
      <button class="btn btn-success">submit</button>
  </div>
</form>
</div>
<% } %>
<h1>All Reviews</h1>



 
 
 
<div class="row">
<% for(rev of details.review){ %>
  
  <div class="card col-5 mb-3 ms-3" >
    <div class="card-body" >
      <h5 class="card-title"><%=rev.author.username%></h5>
      <p class="card-text"><%=rev.comment%></p>
      
      
      <p class="starability-result card-text" data-rating="<%=rev.rating%>">
      
      </p>
      <% if(currUser) { %>
        <form method="POST" action="/listing/<%=details.id%>/reviews/<%=rev.id%>?_method=DELETE">
       
        <button class="btn btn-dark del-btn">Delete</button>
      </form>
     
     <% } %>
    
    </div>
  
  </div>

<% } %>
</div>

</div>
<br>


